---
import Layout from '~/layouts/PageLayout.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Basket Bears Krefeld',
};
---

<Layout metadata={metadata}>
  <div class="grid grid-cols-1 md:grid-cols-12 mx-auto max-w-7xl px-4 gap-6">
    <div class="md:col-span-6">
      <h4>Trainingszeigen</h4>
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Jugend</th>
            <th>1. Mannschaft</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Montag</td>
            <td>17:30 - 19:00</td>
            <td>17:30 - 20:00</td>
          </tr>
          <tr>
            <td>Donnerstag</td>
            <td></td>
            <td>18:30 - 20:00</td>
          </tr>
        </tbody>
      </table>
      <p>In den Schulferien und an gesetzlichen Feiertagen in NRW findet i.d.R. kein Training statt.</p>

      <hr />

      <h4 id="wir-sind-dein-rollstuhl-basketball-verein-in-krefeld">
        Wir sind dein Rollstuhl-Basketball-Verein in Krefeld
      </h4>
      <p>Du interessierst dich für Rollstuhlbasketball?</p>

      <p>Du möchtest Spiel und Spaß in einem Team, aus behinderten und nichtbehinderten Spielern?</p>

      <p><strong>Dann nimm Kontakt mit uns auf!</strong></p>
      <ul>
        <li>Per Mail an <a href="mailto:info@basketbears.de">info@basketbears.de</a></li>
        <li>oder nutze unser <a href="/kontakt">Kontaktformular</a></li>
      </ul>
    </div>
    <div class="hidden md:block md:col-span-1"></div>
    <div class="md:col-span-5">
      <h4 id="oberliga">Oberliga</h4>
      <sup>Quelle: <a href="http://www.basketball-bund.net" target="_blank">www.basketball-bund.net</a></sup>
      <div class="card" style="margin-top: -0.5rem">
        <iframe src="https://www.basketball-bund.net/widget/widgets/index2.html#!/vereinswidget/verein/4686/params/%7B%22iframeHeight%22:400,%22showRefreshButton%22:true,%22titleColor%22:%22FFFFFF%22,%22titleBgColor%22:%221F2383%22,%22tapColor%22:%22000000%22,%22tapBgColor%22:%22EDAD19%22,%22colorMatchGroup%22:%22666666%22,%22bgColorMatchGroup%22:%22F0F0F0%22,%22colorMatchListItem%22:%22000000%22,%22bgColorMatchListItem%22:%22FFFFFF%22,%22showKuerzelInSpiele%22:false,%22vereinsId%22:%224686%22,%22homeMatchesOnlyInit%22:false,%22rangeDays%22:120%7D" style="border-width: 0" width="100%" height="400" loading="lazy" allowfullscreen=""></iframe>
      </div>
    </div>
  </div>
  <BlogLatestPosts title="News" />
</Layout>
