---
import Image from '~/components/common/Image.astro';
import Layout from '~/layouts/MarkdownLayout.astro';

const metadata = {
  title: 'Verein',
};
---

<Layout frontmatter={metadata}>
  <p><strong>Seit nun mehr als 15 Jahren, stehen die Basket Bears für Rollstuhlbasketball in Krefeld.</strong></p>

  <p>
    Als Teil einer inklusive Gemeinschaft verstehen wir es als Selbstverständlichkeit, dass Menschen mit und ohne
    Behinderung gemeinsame Interessen teilen, miteinander und voneinander lernen und gemeinsame Ziele erreichen.
  </p>

  <p>
    Wir stehen für individuelle Förderung der eigenen Fähigkeiten die das gesamte Team nach vorne bringen. Dadurch
    schaffen wir eine unglaublich starke Gemeinschaft - Auf und neben dem Spielfeld.
  </p>

  <p><strong>Füreinander, miteinander… jeder Einzelne für ein starkes Team.</strong></p>

  <div class="grid grid-cols-1 md:grid-cols-2 mx-auto max-w-7xl px-4 gap-6">
    <div class="col-span-1">
      <h2 id="grndung">Gründung</h2>

      <p>
        Am Montag, dem <strong>16.02.2004</strong>, wurde an der Bischöflichen Maria-Montessori Gesamtschule nach der
        Idee von Freddy Otten und Rainer Zielke eine Rollstuhlbasketball AG ins Leben gerufen, die sich
        “Interessengemeinschaft Basket Bears” nennt.
      </p>

      <p>
        Durch überraschend großer Anteilnahme an den Trainingsstunden und stetigem Zulauf neuer Sportlerinnen und
        Sportler, beschloß man nun einen Verein zu gründen. Mit dem Zusatz 05 e.V. ist nun aus einer
        Interessengemeinschaft ein gemeinütziger Verein geworden, der sich am <strong>19. November 2005</strong> gegründet
        hat.
      </p>

      <p>
        Wir möchten uns recht herzlich bei der Schulleitung und den Sonderpädagogen der Schule bedanken die uns dieses
        ermöglicht haben und uns weiterhin tatkräftig unterstützen.
      </p>

      <p>
        Für diese Interessengemeinschaft steht der 3 fache österreichische Basketballmeister Superfund Bulls Kapfenberg
        Pate, dessen früheren Namen wir auch mit Stolz tragen: Basket Bears Auch hier ein Dankeschön nach Österreich zum
        Vorstand der Superfund Bulls Kapfenberg und natürlich an Frau Eckert.
      </p>
    </div>
    <div class="col-span-1">
      <h2 id="spenden">Spenden</h2>
      <p>
        Seit Jahren stehen die Basket Bears für ihre starke Gemeinschaft, und für tolle Aktionen, die wir unseren
        Mitgliedern anbieten wollen.<br />
        An dieser Stelle möchten wir uns recht herzlich bei Allen bedanken die uns in den vergangenen Jahren unterstützt
        und gefördert haben!<br />
        Ihre Spenden unterstützen uns bei unserer ehrenamtlichen Arbeit im Verein und sichern geringe Mitgliedsbeiträge!
      </p>

      <p>Wir freuen uns über jede Unterstützung und Resonanz.</p>

      <p>
        <strong
          >Spenden von Privatpersonen sind in jeder Höhe gerne gesehen. Auch eine Fördermitgliedschaft für
          Privatpersonen und Firmen ist möglich.</strong
        >
      </p>

      <p>Natürlich stellen wir auch Spendenquittungen aus!</p>

      <p>
        <a
          style="display: flex; justify-content: center; margin-top: 2rem"
          href="https://www.paypal.com/donate/?hosted_button_id=8ZQKLEG5JS5EY"
          target="_blank"
        >
          <Image src="~/assets/images/button-spenden-paypal.webp" alt="paypal" width="200px" />
        </a>
      </p>
    </div>
  </div>
</Layout>
